<div class="container loginP">
    <main class="center">
        <form action="">
            <h1>WELCOME</h1>
            <div class="form-group">
                <label for="email">FullName</label>
                <input type="text" name="name" id="">
            </div>
            <div class="form-group">
                <label for="email">YourAdress</label>
                <input type="text" name="Adress" id="">
            </div>
            <div class="form-group">
                <label for="email">email</label>
                <input type="email" name="email" id="">
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input type="password" name="password" id="">
            </div>
            <div class="form-group">
                <a routerLink='/Login'>I have an Account</a>
            </div>
            
            <br/>
            <div class="btnSubmit">
                <app-btn></app-btn>
            </div>
            
        </form>
    </main>
</div>
